*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
     background-color: rgb(10, 10, 10);
     color: white;
}

.header-container{
    height: 80px;
    display: flex;
    justify-content: space-around;
    background-color: rgb(0, 0, 0);
    align-items: center;
    font-family: sans-serif;
}
.rockstar-icon{
    width: 40px;
}
.icon{
    width: 30px;
}
.nav-bar{
    list-style: none;
}
.gap-for-item{
    display: flex;
    gap: 30px;
}
.button{
    font-weight: bold;
    border: none;
    padding: 2px 20px 2px 20px;
    border-radius: 5px;
    background-color: rgb(255, 157, 0);
    color: black;
}
.welcome-photo{
    width: 1008px;
    height: 567px;
}
.side-bar{
    margin-top: 50%;
}
.welcome-container{
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 10px;
}
.whatch-now-button{
    padding: 20px 80px 20px 80px;
    border-radius: 10px;
    border-color: white;
    font-size: larger;
}
.aside-h2{
    margin: 10px auto  30px auto ;
    font-size: 40px;
}
.container h3{
    font-size: 40px;
    margin-top: 50px;
    margin-bottom: 30px; ;
}
.container {
    max-width: 1800px;
    margin: 0 auto;
    padding: 20px;
}

.row {
    display: flex;
    justify-content: space-between; 
    gap: 20px;
    flex-wrap: wrap; 
}

.card {
    background-color: #000000;
    border: 1px solid #3b3b3b;
    width: 32%; 
    overflow: hidden;
    border-radius: 10px;
}

.card img {
    width: 100%;
    height: auto;
}

.card-text {
    padding: 20px;
}

.card-text h4 {
    font-size: 18px;
    color: #ffffff;
}

.card-text p {
    font-size: 14px;
    color: #ffffff;
    font-size: 30px;
}
.view-button{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    width: 100%;
    
}